<h1>LISTA DE TAREAS DE NINA</h1>
<div class="task-list">
    <div class="add-task">
      <input type="text" placeholder="">
      <button>ADD</button>
    </div>
    <ul>
      <li>
        <div class="task-container">
          <input type="checkbox">
          <span>Task N</span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
      <li>
        <div class="task-container">
          <input type="checkbox">
          <span>Task N-1 </span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
      <li>
        <div class="task-container completed">
          <input type="checkbox" checked>
          <span>Completed Task N-2</span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
      <li>
        <div class="task-container">
          <input type="checkbox">
          <span>Task K</span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
      <li>
        <div class="task-container">
          <input type="checkbox">
          <span>Task 2</span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
      <li>
        <div class="task-container completed">
          <input type="checkbox" checked>
          <span>Completed Task 1</span>
          <button><img src="../assets/delete.svg" alt="delete"></button>
        </div>
      </li>
    </ul>
</div>