@import "../../../styles/mixins";
@import "../../../styles/base";
.login{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    padding: 1rem;
    @include flex(center, center, column); 
    h1{
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }
    form{
        width: 100%;
        section{
            margin: 2rem;
            input{
                margin: 0.5rem;
                border: gray 2px solid;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    .btn{
        @include flex(center, center, row);
        margin: 2rem;
    }
}