@import '../../../styles/mixins';
.addTask{
    @include flex(center, center, row);
    padding: 0.5rem;
    input{
        flex-basis: 100%;
        margin: 0.5rem;
        outline: none;
    }
}





