@import "../../../styles/base.scss";

form{
    display: flex;
    align-items: center;
    backdrop-filter: blur(5.5rem);
    max-width: 64rem;
    margin-bottom: 1rem;
    input{
        flex-grow: 1;
        margin: 1rem;
        outline: none;
    }
    .btn{
        margin: 1rem 1rem 1rem 0;
    }
}