.add-task {
    display: flex;
    margin-bottom: 24px;
}

.add-task input {
    flex: auto;
    padding: 10px;
    border: 2px solid black;
  }
  
.add-task button {
    padding: 5px 25px;
    cursor: pointer;
    margin-left: 7px;
    background-color: white;
    border: 2px solid black;
  }