@import "../styles/base.scss";

.wrapper{    
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    max-width: 32rem;
    padding: 0 1.5rem;
    box-sizing: unset; //so the padding doesn't take part of the max-width
}
