.task-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 12px;
    border-color: black;
  }
  
  .task-container input {
    margin-right: 15px;
  }
  
  input:checked + span {
    text-decoration: line-through;
  }
  
  .task-container span {
    flex: auto;
  }