@import "../../../styles/base.scss";

.task-container{
    display: flex;
    align-items: center;
    input{
        width: 3rem;
        height: 3rem;
        border: 2px solid;
        margin-left: 1rem;
        margin-right: 1rem;
        &:checked + span{
            text-decoration: line-through;
        }
    }
    span{
        flex-grow: 1;
    }
    .buttons{
        display: flex;
        align-items: center;
        .btn{
            margin: 0.5rem;
        }
    }
}